/* 最近の出来事 */
.news-scroll {
    margin-top: 30px;
    border: #1e90ff solid thin;
    overflow: auto;
    height: 500px;
}

/*twitter*/
.twitter-scroll {
    margin-top: 30px;
    overflow: auto;
    height: 300px;
    border: #1e90ff solid thin;
}

/*facebook*/
.facebook-scroll {
    margin-top: 30px;
    overflow: auto;
    height: 500px;
    border: #1e90ff solid thin;
}

/* スマホ用 */
@media screen and (max-width: 767px) {
	.fb-container {
		width: 100%;
	}
}
 
/* PC用 */
@media screen and (min-width: 768px) {
	.fb-container {
		width: 450px;
	}
}

#news > article {
    border-bottom: 1px solid gray;
}