/* 最近の出来事 */
.news-scroll {
    margin-top: 30px;
    border: #1e90ff solid thin;
    overflow: auto;
    height: 500px;
}

/*twitter*/
.twitter-scroll {
    margin-top: 30px;
    overflow: auto;
    height: 300px;
    border: #1e90ff solid thin;
}

/*facebook*/
.facebook-scroll {
    margin-top: 30px;
    overflow: auto;
    height: 500px;
    border: #1e90ff solid thin;
}

/* youtube */
.youtube-umekomi{
    position:relative;
    width:100%;
    padding-top:56.25%;
    }
.youtube-umekomi iframe{
    position:absolute;
    top:0;
    right:0;
    width:100% !important;
    height:100% !important;
}

/* スマホ用 */
@media screen and (max-width: 767px) {
	.fb-container {
		width: 100%;
	}
}
 
/* PC用 */
@media screen and (min-width: 768px) {
	.fb-container {
		width: 450px;
	}
}

#news > article {
    border-bottom: 1px solid gray;
}